{{extend 'layout.html'}}

<h1>Best Dress Competition</h1>

{{=INPUT(_type='button',_value='Click to Vote', _onclick='location.href="'+ URL('default', 'vote') +'"')}}
<br/>

<h3>Prizes</h3>
<p>1st Prize: SGD 200 Cash</p>
<p>2nd Prize: SGD 100 Cash</p>
<p>3rd Prize: SGD  50 Cash</p>
<br/>

<h4>Program Schedule</h4>
<p>Contestant Registration: 03 Sept 2016 05:00pm to 07:00pm</p>
<p>Voting Period: 03 Sept 2016, 07:00pm to 09:30pm</p>
<p>Prize and Lucky draw : 03 Sept 2016, 10:00pm</p>
<br/>

{{=INPUT(_type='button',_value='Click to Vote', _onclick='location.href="'+ URL('default', 'vote') +'"')}}
<br/>
