{{extend 'layout.html'}}

<h1>Teej Celebration Competition and Prizes</h1>

<h3>Competition Prize</h3>
<table class="table">
  <thead>
    <tr>
      <th>Best Dress Contest</th>
      <th>Prize</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1st Prize</td>
      <td>SGD 200 Cash</td>
    </tr>
    <tr>
      <td>2nd Prize</td>
      <td>SGD 100 Cash</td>
    </tr>
    <tr>
      <td>3rd Prize</td>
      <td>SGD  50 Cash</td>
    </tr>
  </tbody>
</table>
<small>If two or more contestant gets same no. of votes to hold prize position, the prize shall be split among the position winners</small>
<br/>
<br/>

{{=INPUT(_type='button',_value='Click to Vote for Best Dress Competition', _onclick='location.href="'+ URL('default', 'vote') +'"')}}
<br/>

{{
  if 'start' in registration:
    registration_start = datetime.strftime(registration['start'], '%d %b %Y, %I:%M %p')
  else:
    registration_start = ""
}}
{{pass}}
{{
  if 'end' in registration:
    registration_end = datetime.strftime(registration['end'], '%I:%M %p')
  else:
    registration_end = ""
}}
{{pass}}
{{
  if 'start' in voting:
    voting_start = datetime.strftime(voting['start'], '%d %b %Y, %I:%M %p')
  else:
    voting_start = ""
}}
{{pass}}
{{

  if 'end' in voting:
    voting_end = datetime.strftime(voting['end'], '%I:%M %p')
  else:
    voting_end = ""
}}
{{pass}}
{{
  if 'start' in lucky_draw:
    lucky_draw_start = datetime.strftime(lucky_draw['start'], '%d %b %Y, %I:%M %p')
  else:
    lucky_draw_start = ""
}}
{{pass}}
{{

  if 'end' in lucky_draw:
    lucky_draw_end = datetime.strftime(lucky_draw['end'], '%I:%M %p')
  else:
    lucky_draw_end = ""
}}
{{pass}}

<h3>Program Schedule</h3>
<table class="table">
  <thead>
    <tr>
      <th>Programme</th>
      <th>Date Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Contestant Registration</td>
      <td>{{=registration_start}} to {{=registration_end}}</td>
    </tr>
    <tr>
      <td>Voting Period</td>
      <td><strong>{{=voting_start}} to {{=voting_end}}</strong></td>
    </tr>
    <tr>
      <td>Prize and Lucky draw </td>
      <td>{{=lucky_draw_start}} to {{=lucky_draw_end}}</td>
    </tr>
  </tbody>
</table>
<br/>

{{=INPUT(_type='button',_value='Click to Vote for Best Dress Competition', _onclick='location.href="'+ URL('default', 'vote') +'"')}}
<br/>
<br/>
